section {
	padding:3em 1em;
}

.intro {
  height:600px;
  .content {
  	h1 {
  		font-size: 42px;
  	}
  }
}

.products {
  text-align: center;
  padding:3em 1em;
  .button {
    margin-right:1em;
    &:last-child {
      margin-right:0;
    }
  }
  h2 {
    margin-bottom:1em;
  }
  ul {
      text-align: center;
    li {
      display:inline-block;
      width:23%;
      margin-bottom:3em;
      border-right:solid 1px #D8D8D8;
      .img {
        width:130px;
        height:130px;
        margin:0 auto;
        background-position:center;
        border-radius:90px;
        margin-bottom:1em;
        position: relative;
        overflow:hidden;
      }
      .overlay {
        position: absolute;
        height:100%;
        width:100%;
        @include transition(background .5s);
        background-position:center;
      }

      &:nth-child(2n) {
      	border-right:solid 1px #D8D8D8;
      }

      &:nth-child(4n), &:last-child{
        border-right:0;
      }
      p {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 400;
        color:$ultralight;
        line-height: 1.2;
        @include transition(.5s all);
      }
      &:hover {
        .overlay {
          background:rgba(115, 115, 115, .71) url('/resources/img/overlay.png');
          background-position:center;
        background-repeat:no-repeat;
        }
        p {
          color:$blue;
        }
      }
    }
  }
}


