.mainnav {
	background:#EBEBEB;
@include transition(all .5s);
	ul{
		float:left;
		li {
			float:left;
			a {
				padding:3em 1em;
				color:$primary;
				display: inline-block;
				@include transition(all .5s);
				&:hover {
					@include opacity(.5);
				}
			}
		}
	}

	.search {
		float:right;
		li {
			margin-right:1em;
			a {
					padding:3em 0;
				}
			&:last-child {
				margin-right:0;

			}
		}
	}

}


footer {
	background:#3D4247;
	padding:2em 0;
	li {
		color:$neutral;
		font-size: 90%;
		display: inline;
		margin-right:1em;
		&:last-child {
			margin-right:0;
		}
	}
}

.mainnav.scroll {
	position: fixed;
	top:0;
	width:100%;
	z-index: 1000;
	background:rgba(187, 212, 78, 0.9);
	.search {
		li {
			a {
				padding:2em 0;
			}
		}
	}
	ul {
		li {
			a{
				color:white;
				padding:2em 1em;
			}
		&.bug {
			@include transition(all .3s);
			width:auto;
			display: inline-block;
			img {
				width:20px;
			}
		}
		}
	}
}