* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

body {
  background:#fafafa;
  padding:0;
}

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:3em;
  position: relative;
    
}

.wrap {
  max-width: 940px;
  margin: 0 auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, .button { 
  @include button;
  margin:1em 0;
  &.green {
    background: $green;
  }
  &:hover {
    color:white;
  }
}

.info {
  width:100%;
  position: absolute;
  bottom:0;
  padding:1.5em 0;
  text-align:left;
  p {
        font-size: 80%;
        margin:0;
        a {
          color:$green;
          &:hover {
            color:white;
          }
        }
      }
}

.hero {
  background-size:cover;
}

.intro {
  height:300px;
  text-align: center;
  display: table;
  width:100%;
  padding:0;
  position: relative;
  .content {
    display: table-cell;
    vertical-align:middle;
    width:100%;
    position: relative;
    z-index: 10; 
    h1 {
      font-size: 30px;
      margin-bottom:1em;
      color:white;
    }
  }
  .media {
    position: absolute;
    top:0;
    left:0;

  }
}


.different {
  text-align: center;
  img {
    margin:3em 0;
  }
  .button {
    text-align: center;
    margin:3em 0;
  }
  .span4 {
    text-align:left;
  }
}

.retailer {
  background: #34383b url('/resources/img/retailer_bg.png') center no-repeat;
  text-align: center;
  padding:8em 0em 11em;
  background-size:cover;
  p,h2 {
    font-weight: 400;
  }
  .wrap {
    max-width:700px;
    &.content {
      padding:2em;
    }
  }
  .button {
    border:solid 1px $primary;
    background:transparent;
    color:$primary;
    margin:3em 0 0a;
    &:hover {
      border-color:$green;
      color:$green;
      @include opacity(1);
    }
  }
  .info {
    background:rgba(65,72,77,.4);
    .row-fluid {
      max-width:940px;
    }
      
      
  }

}


.products {
  text-align: center;
  padding:1em;
  .button {
    margin-right:1em;
    &:last-child {
      margin-right:0;
    }
  }
  h2 {
    margin-bottom:1em;
  }
  ul {
      text-align: center;
    li {
      display:inline-block;
      width:45%;
      margin-bottom:3em;
      border-right:solid 1px #D8D8D8;
      .img {
        width:130px;
        height:130px;
        margin:0 auto;
        background-position:center;
        border-radius:90px;
        margin-bottom:1em;
        position: relative;
        overflow:hidden;
      }
      .overlay {
        position: absolute;
        height:100%;
        width:100%;
        @include transition(background .5s);
        background-position:center;
      }

      &:nth-child(2n), &:last-child{
        border-right:0;
      }
      p {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 400;
        color:$ultralight;
        line-height: 1.2;
        @include transition(.5s all);
      }
      &:hover {
        .overlay {
          background:rgba(115, 115, 115, .71) url('/resources/img/overlay.png');
          background-position:center;
        background-repeat:no-repeat;
        }
        p {
          color:$blue;
        }
      }
    }
  }
}


.fresh {
  background:#16466b;
  p,h2,li,a {
    color:white;
  }
  h2 {
    text-align:left;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    margin:0;
    span {
      font-size:inherit;
      text-transform: lowercase;
      font-weight: inherit;
    }
  }
  .video {
    margin:2em 0;
    
    .span4{
      background:$blue;
      text-align: center;
      padding:2em 3em;
       @include transition(all .5s ease);
      &:hover {
        background:rgba(45, 116, 166, 0.59);
        .ico-play {
          color: $green;
          @include transition(all .5s ease);
        }
      }
      p {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
      }
      small {
        color:#16466b;
      }
    }
  }
  .info {
    background:$blue;
  }
}

[class*="span"] {
  margin-bottom:2em;
}

.footer {
  li {
    display:block;
  }
}

.media {
  margin:0;
  z-index: 1;
  width:100%;
  overflow:hidden;
}


.logo {
  position: absolute;
  z-index:11;
  top:0;
  left:0;
  margin:2em;
}


.bug {
  display: none;
  width:0;
  overflow:hidden;
  @include transition(all .3s);
}

