body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 1;

  color: $neutral;
}

h2 {
  font-size: 50px;
  font-weight: 100;
  line-height: 1.2;
  span {
    font-weight: 400;
    color:$green;
    font-size: 63px;
    text-transform: uppercase;
  }
}

h3 {
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.1;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
  font-weight: 100;
}

a {
  @include transition(all .3s);
  text-decoration: none;
  color:$blue;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}


.center {
  text-align: center;
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.home {
  h2 {
    text-align: center;
  }
}