// COLOR PALETTE
$primary: #737373;
$secondary: #bbd44e;
$hover: #505050;
$neutral: #8d8d8d;
$highlight: #306DB1;
$ultralight: #a0a0a0;
$link: red;
$blue: #2d74a6;
$green: #bbd44e;

// FONT STACKS
$heading:  'Raleway', 'sans-serif';
$body:  'Raleway', 'sans-serif';