/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before:before,
.cf:after:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 53, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 60, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 62, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 64, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 66, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 68, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 70, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 72, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 75, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 78, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 80, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 81, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 83, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 86, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 87, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 88, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 95, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 96, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 97, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 109, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 115, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 122, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 129, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 130, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 133, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 140, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 148, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 154, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 162, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 168, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 174, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 175, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 176, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 182, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 189, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 193, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 200, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 201, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 209, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 210, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 213, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 216, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 219, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 222, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 225, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 226, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 227, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 235, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 236, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 237, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 238, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 239, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 240, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 241, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 242, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 243, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 245, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 246, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
body {
  background: #fafafa;
  padding: 0;
}

/* line 18, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 25, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 32, ../sass/_smallest.scss */
section {
  padding: 3em;
  position: relative;
}

/* line 38, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: 0 auto;
}
/* line 41, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 46, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* line 58, ../sass/_smallest.scss */
.btn, a:visited.btn, .button {
  padding: .5em 2.5em;
  color: white;
  background: #2d74a6;
  border-radius: 5px;
  display: inline-block;
  font-weight: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 1em 0;
}
/* line 359, ../sass/_mixins.scss */
.btn:hover, a:visited.btn:hover, .button:hover {
  opacity: 0.6;
  filter: alpha(opacity=0.6);
}
/* line 61, ../sass/_smallest.scss */
.btn.green, a:visited.btn.green, .button.green {
  background: #bbd44e;
}
/* line 64, ../sass/_smallest.scss */
.btn:hover, a:visited.btn:hover, .button:hover {
  color: white;
}

/* line 69, ../sass/_smallest.scss */
.info {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1.5em 0;
  text-align: left;
}
/* line 75, ../sass/_smallest.scss */
.info p {
  font-size: 80%;
  margin: 0;
}
/* line 78, ../sass/_smallest.scss */
.info p a {
  color: #bbd44e;
}
/* line 80, ../sass/_smallest.scss */
.info p a:hover {
  color: white;
}

/* line 87, ../sass/_smallest.scss */
.hero {
  background-size: cover;
}

/* line 91, ../sass/_smallest.scss */
.intro {
  height: 300px;
  text-align: center;
  display: table;
  width: 100%;
  padding: 0;
  position: relative;
}
/* line 98, ../sass/_smallest.scss */
.intro .content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
  z-index: 10;
}
/* line 104, ../sass/_smallest.scss */
.intro .content h1 {
  font-size: 30px;
  margin-bottom: 1em;
  color: white;
}
/* line 110, ../sass/_smallest.scss */
.intro .media {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 119, ../sass/_smallest.scss */
.different {
  text-align: center;
}
/* line 121, ../sass/_smallest.scss */
.different img {
  margin: 3em 0;
}
/* line 124, ../sass/_smallest.scss */
.different .button {
  text-align: center;
  margin: 3em 0;
}
/* line 128, ../sass/_smallest.scss */
.different .span4 {
  text-align: left;
}

/* line 133, ../sass/_smallest.scss */
.retailer {
  background: #34383b url("/resources/img/retailer_bg.png") center no-repeat;
  text-align: center;
  padding: 8em 0em 11em;
  background-size: cover;
}
/* line 138, ../sass/_smallest.scss */
.retailer p, .retailer h2 {
  font-weight: 400;
}
/* line 141, ../sass/_smallest.scss */
.retailer .wrap {
  max-width: 700px;
}
/* line 143, ../sass/_smallest.scss */
.retailer .wrap.content {
  padding: 2em;
}
/* line 147, ../sass/_smallest.scss */
.retailer .button {
  border: solid 1px #737373;
  background: transparent;
  color: #737373;
  margin: 3em 0 0a;
}
/* line 152, ../sass/_smallest.scss */
.retailer .button:hover {
  border-color: #bbd44e;
  color: #bbd44e;
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 158, ../sass/_smallest.scss */
.retailer .info {
  background: rgba(65, 72, 77, 0.4);
}
/* line 160, ../sass/_smallest.scss */
.retailer .info .row-fluid {
  max-width: 940px;
}

/* line 170, ../sass/_smallest.scss */
.products {
  text-align: center;
  padding: 1em;
}
/* line 173, ../sass/_smallest.scss */
.products .button {
  margin-right: 1em;
}
/* line 175, ../sass/_smallest.scss */
.products .button:last-child {
  margin-right: 0;
}
/* line 179, ../sass/_smallest.scss */
.products h2 {
  margin-bottom: 1em;
}
/* line 182, ../sass/_smallest.scss */
.products ul {
  text-align: center;
}
/* line 184, ../sass/_smallest.scss */
.products ul li {
  display: inline-block;
  width: 45%;
  margin-bottom: 3em;
  border-right: solid 1px #D8D8D8;
}
/* line 189, ../sass/_smallest.scss */
.products ul li .img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background-position: center;
  border-radius: 90px;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
}
/* line 199, ../sass/_smallest.scss */
.products ul li .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  background-position: center;
}
/* line 207, ../sass/_smallest.scss */
.products ul li:nth-child(2n), .products ul li:last-child {
  border-right: 0;
}
/* line 210, ../sass/_smallest.scss */
.products ul li p {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  color: #a0a0a0;
  line-height: 1.2;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
/* line 219, ../sass/_smallest.scss */
.products ul li:hover .overlay {
  background: rgba(115, 115, 115, 0.71) url("/resources/img/overlay.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 224, ../sass/_smallest.scss */
.products ul li:hover p {
  color: #2d74a6;
}

/* line 233, ../sass/_smallest.scss */
.fresh {
  background: #16466b;
}
/* line 235, ../sass/_smallest.scss */
.fresh p, .fresh h2, .fresh li, .fresh a {
  color: white;
}
/* line 238, ../sass/_smallest.scss */
.fresh h2 {
  text-align: left;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}
/* line 244, ../sass/_smallest.scss */
.fresh h2 span {
  font-size: inherit;
  text-transform: lowercase;
  font-weight: inherit;
}
/* line 250, ../sass/_smallest.scss */
.fresh .video {
  margin: 2em 0;
}
/* line 253, ../sass/_smallest.scss */
.fresh .video .span4 {
  background: #2d74a6;
  text-align: center;
  padding: 2em 3em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 258, ../sass/_smallest.scss */
.fresh .video .span4:hover {
  background: rgba(45, 116, 166, 0.59);
}
/* line 260, ../sass/_smallest.scss */
.fresh .video .span4:hover .ico-play {
  color: #bbd44e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 265, ../sass/_smallest.scss */
.fresh .video .span4 p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}
/* line 270, ../sass/_smallest.scss */
.fresh .video .span4 small {
  color: #16466b;
}
/* line 275, ../sass/_smallest.scss */
.fresh .info {
  background: #2d74a6;
}

/* line 280, ../sass/_smallest.scss */
[class*="span"] {
  margin-bottom: 2em;
}

/* line 285, ../sass/_smallest.scss */
.footer li {
  display: block;
}

/* line 290, ../sass/_smallest.scss */
.media {
  margin: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

/* line 298, ../sass/_smallest.scss */
.logo {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  margin: 2em;
}

/* line 307, ../sass/_smallest.scss */
.bug {
  display: none;
  width: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 1, ../sass/_480.scss */
section {
  padding: 2em 0;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 3em 1em;
}

/* line 5, ../sass/_768.scss */
.intro {
  height: 600px;
}
/* line 8, ../sass/_768.scss */
.intro .content h1 {
  font-size: 42px;
}

/* line 14, ../sass/_768.scss */
.products {
  text-align: center;
  padding: 3em 1em;
}
/* line 17, ../sass/_768.scss */
.products .button {
  margin-right: 1em;
}
/* line 19, ../sass/_768.scss */
.products .button:last-child {
  margin-right: 0;
}
/* line 23, ../sass/_768.scss */
.products h2 {
  margin-bottom: 1em;
}
/* line 26, ../sass/_768.scss */
.products ul {
  text-align: center;
}
/* line 28, ../sass/_768.scss */
.products ul li {
  display: inline-block;
  width: 23%;
  margin-bottom: 3em;
  border-right: solid 1px #D8D8D8;
}
/* line 33, ../sass/_768.scss */
.products ul li .img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background-position: center;
  border-radius: 90px;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
}
/* line 43, ../sass/_768.scss */
.products ul li .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  background-position: center;
}
/* line 51, ../sass/_768.scss */
.products ul li:nth-child(2n) {
  border-right: solid 1px #D8D8D8;
}
/* line 55, ../sass/_768.scss */
.products ul li:nth-child(4n), .products ul li:last-child {
  border-right: 0;
}
/* line 58, ../sass/_768.scss */
.products ul li p {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  color: #a0a0a0;
  line-height: 1.2;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
/* line 67, ../sass/_768.scss */
.products ul li:hover .overlay {
  background: rgba(115, 115, 115, 0.71) url("/resources/img/overlay.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 72, ../sass/_768.scss */
.products ul li:hover p {
  color: #2d74a6;
}

/* line 1, ../sass/_940.scss */
section {
  padding: 5em 0;
}

/* line 7, ../sass/_940.scss */
footer li {
  display: inline;
}

/* line 17, ../sass/_940.scss */
.retailer .wrap.content {
  padding: 2em 0;
}
